#headerMenu{
  .ant-menu {
    background: transparent;
    line-height: 60px;
    color:white;
  }

  .ant-menu ul{
    background: white;
    color: black;
  }

  .ant-menu-item{
    padding: 0px 26px 0 64px;
    font-size: 14px;
    line-height: 42px;
    height: 42px;
    @include box-shadow( -2px 4px 10px #A1A1A1);
  }

  .ant-menu-submenu-open{
    background-color: #e84948;
    color:white;
  }

  .ant-menu-submenu-active{
    border-bottom: 0px;
  }

  .userimage {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    top: 6px;
  }

  .usertext{
    left: 10px;
    font-family: monospace;
    font-size: 14px;
  }

  .usericon {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 8px;
    left: 13px;
  }

  .ant-menu-submenu-horizontal > .ant-menu {
    top: 100%;
    left: 0;
    position: absolute;
    min-width: 100%;
    margin-top: 0px;
  }
}

