#pageTransaction {

  $background-color: #ffffff;

  .sec1-query {
    padding-left: 22px;
    background-color: $background-color;


    .lookMore {
      position:absolute;
      bottom: 10px;
      right: 20px;
      text-align: center;
      width: 100px;
      border: 1px solid #D9D9D9;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;

    }
    .bottom_none {
      border-bottom: 0;
    }

    .queryHeader {
      position: relative;
      height: 68px;
      font-size: 28px;
      padding: 10px 0;

      &:after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 1px;
        border-top: 1px solid #eaeaea;
        left: 0;
        bottom: 0;
      }
    }
    .queryContent {
      padding-bottom: 24px;

      input[type="checkbox"] {
        margin-right: 5px;
        &:checked {
          background-color: #111111;
        }
      }

      .table-query {
        tr {
          background-color: $background-color;
        }
        td {
          padding-right: 20px;
        }
        .table-query-header {
          padding-top: 22px;
          font-size: 14px;
        }
        .queryBtn {
          margin: 10px 0;
        }
        .exportBtn {
          .ant-btn:hover, .ant-btn:focus {
            background-color: #ffffff;
            border-color: #D9D9D9;
          }
        }
      }
      .fourStations {
        display: inline-block;
        margin-top: 10px;
        label{
          font-size: 14px;
        }
      }
      .fourStations li {
        float: left;
        margin-right: 20px;
      }
      .fourStations li:first-child {
        font-size: 14px;
        color: #999999;
        margin-right: 0;
      }

    }
  }

  .stationsSec {
    position: relative;
  }

  .sec2-statistic {
    height: 114px;
    text-align: center;
    margin: 22px 22px 0 22px;
    border: 1px solid #D9D9D9;
    background-color: $background-color;

    table {
      width: 100%;
      height: 100%;
    }
    .sec2-text {
      font-size: 14px;
    }
    .sec2-num {
      font-size: 28px;
      color: #333333;
    }
  }

  .moreStationsList {
    position: absolute;
    z-index: 1000;
    top: -10px;
    right: 20px;
    width: 500px;
    height: 200px;
    background-color: $background-color;
    overflow-y: auto;
    border-left: 1px solid #D9D9D9;
    border-right:1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    overflow-x:hidden;
    
    .inputSearch {
      width: 90%;
      position: relative;
      margin: 10px;
    }
    ul {
      padding: 0;
      margin: 0 20px;
    }
    ul li{
      margin-top: 10px ;
      float: left;
      width: 33%;
      font-size: 14px;
      webkit-box-sizing: border-box ;
      box-sizing: border-box;

    }
    .clearFix {
      *zoom:1
    }

    .clearFix:after {
      display: block;
      height: 0;
      content: ".";
      visibility: hidden;
      clear: both
    }

    .borderTop {
      position: absolute;
      left: -1px;
      right: 98px;
      border-top: 1px solid #D9D9D9;

    }
  }


  .sec3-table {
    position: relative;
    margin: 22px;
    background-color: $background-color;

    .clearfix {
      zoom: 1;
      border: 1px solid #d9d9d9;
      background-color: white;
    }
    .ant-table {
      font-size: 14px;
    }
    .total_records {
      position: absolute;
      bottom: 10px;
      left: 10px;
      font-size: 15px;
      color: #999999;
    }
  }

}