@import "compass/css3";

#pagePermission {
  height: 100%;
  .pagePermission_Header {
    height: 72px;
    background-color: white;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 28px;
    padding-right: 16px;

    .headtext {
      display: inline-block;
    }

    .headButton {
      height: 36px;
      float: right;
    }

    .ant-btn-primary {
      color: #fff;
      background-color: #fe504f;
      border-color: #fe504f;

    }
    .ant-btn:hover, .ant-btn:focus {
      background-color: #e84948;
    }
  }

  .pagePermission_Table {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 17px;

    .clearfix {
      zoom: 1;
      border: 1px solid #d9d9d9;
      background-color: white;
    }

    .ant-table {
      font-size: 16px;
    }

    .columnButton {
      display: inline-block;
      width: 50px;
      margin-right: 16px;
    }

    .dataTotal {
      bottom: 42px;
      left: 13px;
      font-size: 14px;
    }

  }
}