@import "header";
@import 'layout';
@import "reset";
@import "icon";
@import 'antd';
@import 'headerMenu';
@import 'silderBar';
body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

//.header{
//  height: 60px;
//  min-height: 60px;
//  background-color: #fe504f;
//  position: fixed;
//  right: 0;
//  left: 0;
//  z-index: 1030;
//}

.container {
  position: relative;
  height:100%;
}
#oilContent{
  position: relative;
  background: #f3f3f3;
  //height:100%;
  overflow: auto;
  left: 188px;
  top: 60px;
}

//.silderbar{
//  position: fixed;
//  top: 60px;
//  bottom: 0;
//  left: 0;
//  z-index: 1000;
//  display: block;
//  padding: 0px 0px 0px 0px;
//  overflow-x: hidden;
//  overflow-y: auto;
//  background-color: #313541;
//  border-right: 1px solid #eee;
//  width: 188px;
//}

.footer{

}



