@import "header";
@import 'layout';
@import "reset";
@import "icon";
@import 'antd';
@import 'headerMenu';
@import 'silderBar';
@import 'pageTransaction';
@import 'pagePermission';
@import 'pageAddPermission';

html, body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 14px;
  color: #333;
  height: 100%;
}

.container {
  position: relative;
  height:100%;
}

#oilContent{
  background: #f3f3f3;
  overflow: auto;
  height: 100%;
  padding-top: 60px;
  padding-left: 188px;
}

.ant-btn-primary {
  color: #fff;
  background-color: #fe504f;
  border-color: #fe504f;

}
.ant-btn:hover, .ant-btn:focus {
  background-color: #e84948;
  border-color: #fe504f;
}

.ant-table-pagination {
  float: right;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 30px;
}




